* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
}

body {
    background-color: hsl(212, 45%, 89%);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
